# Python
__pycache__/
*.pyc
*.pyo
*.db
venv/
.env
*.egg-info/

# Node
node_modules/
build/
.env.local
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Media / large files
*.mp4
*.zip
*.mov
*.avi

# Sensitive
secrets.json
~$*
*.tmp
